@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SukhumvitSet-Bold';
  src: url('../src/assets/fonts/SukhumvitSet-Bold.ttf');
}
@font-face {
  font-family: 'SukhumvitSet-Light';
  src: url('../src/assets/fonts/SukhumvitSet-Light.ttf');
}
@font-face {
  font-family: 'SukhumvitSet-Medium';
  src: url('../src/assets/fonts/SukhumvitSet-Medium.ttf');
}
@font-face {
  font-family: 'SukhumvitSet-SemiBold';
  src: url('../src/assets/fonts/SukhumvitSet-SemiBold.ttf');
}
@font-face {
  font-family: 'SukhumvitSet-Text';
  src: url('../src/assets/fonts/SukhumvitSet-Text.ttf');
}
@font-face {
  font-family: 'SukhumvitSet-Thin';
  src: url('../src/assets/fonts/SukhumvitSet-Thin.ttf');
}

body {
  justify-content: center;
  font-family: SukhumvitSet-Medium;
  background: #fff;
  font-weight: normal;
}

.global-padding {
  padding: 0 65px;
}
